flask
python-dotenv
Flask-Bcrypt
Flask-Cors
Flask-PyMongo
Flask-JWT-Extended
Flask-SocketIO
Flask-Session
Flask-APScheduler
opencv-python
cmake
face-recognition
geopy
ultralytics
torch
torchvision
pyrebase4
gunicorn
google-genai
